# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Datos sensibles / pesados (ajustar según el caso)
*.joblib
models/*.bin

# Variables de entorno / secretos
.env
*.env

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log

# Archivos de datos
Base_de_datos_eda.csv
Base_de_datos_tipada.csv
Dockerfile
